{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn", "twMerge", "cva"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.vue",
            "options": {
                "parser": "vue",
                "vueIndentScriptAndStyle": false
            }
        }
    ]
}
